.container{
    height: 80vh;
    display: grid;
    align-items: center;
    #about {
        & .about-contain {
            max-width: 1240px;
            width: 100%;
            margin: auto;
            & h1 {
                font-size: 3em;
                text-align: center;
                color: #ffffff;
                & span{
                    color: #0076f4;
                }
            }
    
            & .about-p-image {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                position: relative;
    
                & img {
                    width: 400px;
                    object-fit: cover;
                    border-radius: 8px;
                    background-color: #312f2f;
                    box-shadow: -10px 10px 0 #0076f4;
                }
                & p{
                    text-align: justify;
                    hyphens: auto;
                    max-width: 750px;
                    margin: 4rem auto;
                    font-size: 1.3em;
                    line-height: 33px;
                    color: #ffffff;
                    & span{
                        color: #0076f4;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:575px) {
    .container{
        height: 100vh;
        #about{
            & .about-contain{
                & h1{
                    font-size: 2.5em;
                }
                & .about-p-image{
                    margin-top: 3rem;
                    justify-content: center;
                    & img{
                        width: 230px;
                    }
                    & p{
                        font-size: .8em;
                        max-width: 450px;
                        margin: 2rem 0;
                        line-height: 25px;
                    }
                }
            }
        }
    }
}