footer{
    height: 20vh;
    padding: 2rem;
    display: grid;
    align-items: center;
    justify-content: center;
    & .contact-contain{
        h1{
            color: #0076f4;
            font-size: 3em;
        }
        & form{
            & .form-contain{
                display: grid;
                justify-content: center;
                gap: 1rem;
                & input{
                    border: none;
                    outline: none;
                }
                & textarea{
                    resize: none;
                    overflow: hidden;
                    padding: .4rem .3rem;
                    border: none;
                    outline: none;
                    form-sizing: content;
                }
            }
        }
    }
}