footer{
    height: 10vh;
    display: grid;
    align-items: center;
    & .footer-contain{
        max-width: 1240px;
        width: 100%;
        height: 30px;
        margin: auto;
        & hr{
            border: none;
            height: 3px;
            width: 100%;
            background-color: #312f2f;
        }
        & .footer-info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            & p{
                color: #fff;
                font-size: 15px;
            }
            & ul{
                display: flex;
                align-items: center;
                gap: 2rem;
                & li{
                    list-style: none;
                    & a{
                        color: #fff;
                        cursor: pointer;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:575px){
    footer{
        height: 5vh;
        & .footer-contain{
            & .footer-info{
                justify-content: center;
                & p{
                   font-size: 10px; 
                }
                & ul{
                    display: none;
                }
            }
        }
    }
}