#contacto {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 90vh;
    & .contact-contain {
        max-width: 1240px;
        width: 100%;
        margin: auto;
        display: grid;
        row-gap: 2rem;
        & h1 {
            text-align: center;
            color: #fff;
            font-size: 3em;

            & span {
                color: #0076f4;
            }
        }

        & .form-animation {
            & form {
                display: grid;
                place-items: center;
                padding: 1.5rem;
                border-radius: 4px;
                text-align: center;
                row-gap: 1.5rem;
                & .form-contain {
                    display: grid;
                    row-gap: 1.5rem;
                    & .form-names {
                        display: flex;
                        gap: 2rem;
                        
                        & input {
                            padding: .5rem .7rem;
                            width: 200px;
                            height: 29px;
                            outline: none;
                            border: none;
                            border-radius: 4px;
                            font-family: "Montserrat", sans-serif;
                        }
                    }

                    & .form-email {
                        overflow: hidden;
                        & input {
                            padding: .5rem .7rem;
                            width: 95.5%;
                            height: 29px;
                            outline: none;
                            border: none;
                            border-radius: 4px;
                            font-family: "Montserrat", sans-serif;
                        }
                    }

                    & .form-message {
                        & textarea {
                            padding: .5rem .7rem;
                            resize: none;
                            outline: none;
                            border: none;
                            width: 95.5%;
                            border-radius: 4px;
                            font-family: "Montserrat", sans-serif;
                        }
                    }
                }

                & .btn {
                    border: none;
                    padding: .5rem .7rem;
                    width: 200px;
                    height: 50px;
                    border-radius: 20px;
                    border: 3px solid #0076f4;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 500;
                    background-color: #1c1b1b;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .3rem;
                    cursor: pointer;
                    transition: background-color 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), color 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    & img{
                        width: 20px;
                        height: 20px;
                    }
                    &:hover{
                        background-color: #fff;
                        color: #1c1b1b;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    #contacto{
        & .contact-contain{
            & h1{
                font-size: 2.5em;
            }
            & .form-animation{
                display: grid;
                width: 400px;
                & form{
                    display: grid;
                    align-items: center;
                    & .form-contain{
                        width: 100%;
                        display: grid;
                        & .form-names{
                            display: grid;
                            place-items: center;
                            & input{
                                width: 90%;
                            }
                        }
                        & .form-email{
                            overflow: visible;
                            & input{
                                width: 89%;
                            }
                        }
                        & .form-message{
                            & textarea{
                                width: 89%;
                            }
                        }
                    }
                }
            }
        }
    }
}