#proyectos{
    display: grid;
    align-items: center;
    justify-content: center;
    & .projets-contain{
        max-width: 1240px;
        width: 100%;
        margin: auto;
        & h1{
            font-size: 3em;
            color: #0076f4;
            text-align: center;
            & span{
                color: #fff;
            }
        }
    }
    & img{
        margin-top: 4rem;
        width: 600px;
    }
}

@media screen and (max-width:575px) {
    #proyectos{
        padding: 2rem 0;
        & .projets-contain{
            & h1{
                font-size: 2.5em;
            }
        }
        & img{
            width: 400px;
        }
    }
}

@media (max-width: 767px) {  
    #proyectos{
        padding: 2rem 0;
        & .projets-contain{
            & h1{
                font-size: 2.5em;
            }
        }
        & img{
            width: 400px;
        }
    }
  }